.apartmentBanner img {
    width: 100%;
    height: 415px;
    margin-inline: auto;
    object-fit: cover; 
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.apartmentBanner {
    position: relative;
    margin-bottom: 1em;
    margin-inline: auto;
    width: 100%;
}
.previous img, .next img {
    width: 40px;
    height: 60px;
    object-fit: contain;

}
.previous {
    position: absolute;
    font-weight: 500;
    top: 42%;
    left: 23.36px;
    color: white;   
    size: 18px;
    cursor: pointer;
}
.compteur {
    position: absolute;
    width: 24px;
    height: 32.4px;
    bottom: 1.5rem;
    left: 49%;
    color: white;
    font-size: 20px;
}
.next {
    position: absolute;
    top: 42%;
    right: 3rem;
    color: white;
    cursor: pointer;
}
@media screen and (width <= 768px) {
   .previous img, .next img {
        position: absolute;
        width: 17.68px;
        height: 24px;
        object-fit: contain;
        top: -110px;
        left: 5px;
    } 
    .compteur {
        opacity: 0;
    }
    .apartmentBanner img {
        height: 250px;
    }
}