.footer {
    background-color: black;
    color: white;
    padding-block: 10px;
    text-align: center;
    min-height: 100px;
    display: grid;
    place-items: center;
    width: 100%;
}
.footer_text {
    font-size: 30px;
    line-height: 34.22px;
    font-weight: 500;
}
.footer_logo {
    width: 122px;
    height: 56.44px;
}
@media screen and (width <= 768px) {
    .footer_logo {
        width: 96%;
        padding-top: 5px;
    }
    .footer_text {
        font-size: 100%;
    }
}
